@charset "UTF-8";

/* モーダル内のカード画像。 */
.modalCard
{
	width:150px;
	height:150px;
	margin:0 0 0 50px;
}
.update_btn img{
	position: fixed;
	bottom: 100px;
	left: 2%;
	width: 60px;
}
/* モーダル内テキスト */
#mainText
{
	font-size:16px;
	line-height:1.2em;
}

#map
{
	width:100%;
	height:calc(100vh - 136px);
	margin:0 auto;
}
#modal
{
	display:none;
/*	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	margin:auto;
	width:320px;
	height:70px;*/



}
/*モーダルの閉じるボタン。*/
/*#closeBut
{
	pointer-events:auto;
	position:absolute;
	top:10px;
	right:12px;
	font-size:24px;
	font-weight:bold;
	color:#383838;
}*/

#card-body
{
	position:relative;
}

/* モーダル用 */
#lean_overlay
{
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
