@charset "UTF-8";
/* 共通部分ここから */
body {
  height: 100%;
  height: 100%;
  font-size: 10px;
  line-height: 10px; }

.header {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #00aeb4;
  z-index: 9; }
  .header::after {
    content: "";
    display: block;
    clear: both; }
  .header__logo {
    display: block;
    float: left;
    margin-top: 5px;
    padding: 10px;
    margin-left: 24%;
    font-size: 1.4rem;
    line-height: 1.4rem; }
  .header__login {
    display: block;
    float: right;
    margin: 14px 10px;
    text-align: right;
    vertical-align: middle;
    font-size: 1.0rem;
    line-height: 1.2rem; }

.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-top: 50px; }

.footer-margin {
  content: "";
  display: block;
  height: 100px; }

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #00aeb4; }
  .menu__item {
    float: left;
    width: 76px;
    height: 76px;
    margin: 12px 8.85px;
    border-radius: 50%;
    background-color: #fff; }
  .menu__btn {
    width: 100%;
    height: 100%; }
    .menu__btn img {
      width: 56px;
      height: auto;
      padding: 10px; }

/* 共通部分終わり */
/* カード一覧 */
.card {
  position: relative;
  width: 100%; }
  .card__link{
  width: 100%;
  height: 100%;
  }
  .card--list {
    width: 30%;
    float: left;
    height: auto;
    margin: 10px 6px; }
  .card__img {
    width: 100%;
    height: auto; }
  .card__mark {
    position: absolute;
    top: 9px;
    left: 11.49px;
    width: 24%; }
    .card__mark--detail {
      top: 33px;
      left: 36px;
      width: 22%; }
  .card__chara {
    position: absolute;
    top: 26px;
    width: 100%; }
  .card__name {
    position: absolute;
    top: 290px;
    width: 85.6%;
    margin-left: 17px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center; }

.textbox {
  position: absolute;
  bottom: 10px;
  left: 5px;
  box-sizing: border-box;
  width: 91%;
  height: 30px;
  padding: 10px 0;
  color: #fff;
  background-color: black;
  border: solid 1px #fff;
  border-radius: 3px; }
  .textbox__name {
    font-weight: bolder;
    font-size: 1.0rem;
    text-align: center; }

.info {
  position: absolute;
  top: 326px;
  box-sizing: border-box;
  overflow: scroll;
  width: 91%;
  height: 302px;
  margin: 17px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); }
  .info__map {
    margin: 10px 0;
    font-size: 1.2rem;
    line-height: 1.6rem; }
  .info__text {
    font-size: 1.2rem;
    line-height: 1.6rem; }
    .info__text p {
      margin-bottom: 10px; }
  .info__images img {
    float: left;
    width: 140px;
    margin: 10px;
    background-color: #fff; }

/* カード一覧終わり */
/* トップページ */
/* 地図CSS */
.sea {
  background-color: #DFF2FC; }

.map {
  position: relative;
  width: 100%;
  height: auto; }

.hokkaido {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 10%;
  background-color: #00a; }

.aomori {
  position: absolute;
  top: 108px;
  right: 28px;
  width: 8%;
  padding: 10%;
  background-color: #a00; }

/*# sourceMappingURL=style.css.map */
