@charset "UTF-8";
/* 共通部分ここから */
body {
  height: 100%;
  font-size: 10px;
  line-height: 10px; }

.header {
  position: fixed;
  width: 100%;
  height: 68px;
  background-color: #00aeb4;
  z-index: 9; }
  .header::after {
    content: "";
    display: block;
    clear: both; }
  .header__back{
    display: block;
    float: left;
    width: 30px;
    margin: 18px 1% 18px 3%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-decoration: none;
    color: #fff;
  }
  .header__back img{
    width: 30px;
  }
  .header__logo {
    display: block;
    float: left;
    width: 230px;
    padding: 2px;
    margin-top: 2px;
    margin-left: 3%;
    font-size: 1.4rem;
    line-height: 1.4rem; }
  .header__login {
    display: block;
    float: right;
    margin: 24px 3% 24px 0;
    text-align: right;
    font-size: 1.0rem;
    line-height: 1.2rem;
    text-decoration: none;
    color: #fff;
 }

.wrapper {
  width: 100%;
  height: 100%;
  padding-top: 68px;
  padding-bottom: 68px}

.menu {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 68px;
  background-color: #00aeb4; }
  .menu__item {
    float: left;
    box-sizing: border-box;
    width: 16%;
    height: 16%;
    margin: 3.5px 2%;
    padding: 7.7px 7.7px;
    border-radius: 50%;
    background-color: #fff; }
  .menu__btn {
    width: 100%;
    height: 100%; }
    .menu__btn img {
      width: 43px;
      height: auto;
      padding: 0 1.4%;
    }

/* 共通部分終わり */
/* カード一覧 */
.card {
  position: relative;
  width: 100%; }
  .card__link{
  width: 100%;
  height: 100%;
  }
  .card--list {
    width: 30%;
    float: left;
    height: auto;
    margin: 10px 6px; }
  .card__img {
    width: 100%;
    height: auto; }
  .card__mark {
    position: absolute;
    top: 9px;
    left: 11.49px;
    width: 24%; }
    .card__mark--detail {
      top: 33px;
      left: 36px;
      width: 22%; }
  .card__chara {
    position: absolute;
    top: 26px;
    width: 100%; }
  .card__chara__none{
      position: absolute;
      top: 26px;
      width: 100%;
      filter: brightness(0%);}
  .card__name {
    position: absolute;
    top: 290px;
    width: 85.6%;
    margin-left: 17px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center; }

.textbox {
  position: absolute;
  bottom: 10px;
  left: 5px;
  box-sizing: border-box;
  width: 91%;
  height: 30px;
  padding: 10px 0;
  color: #fff;
  background-color: black;
  border: solid 1px #fff;
  border-radius: 3px; }
  .textbox__name {
    font-weight: bolder;
    font-size: 1.0rem;
    text-align: center; }

.info {
  position: absolute;
  top: 340px;
  box-sizing: border-box;
  overflow: scroll;
  width: 91%;
  height: 300px;
  margin: 17px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8); }
  .info__name{
    position: absolute;
    top: 290px;
    width: 85.6%;
    margin-left: 17px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: left; }
  .info__map img{
    position: absolute;
    top: -8px;
    right: 12px;
    width: 14%;
    margin: 10px 0; }
  .info__text {
    font-size: 1.2rem;
    line-height: 1.6rem; }
    .info__text p {
      margin-bottom: 10px; }
  .info__images img {
    width: 100%;
    margin: 10px 0;
    background-color: #fff; }
/* カード一覧終わり */
/* スライダー */
#slider {
  position: relative;
  display: flex;
}
#slider::after{
  clear: both;
}
#slider img{
  position: absolute;
  top: 0;
  left: 0;
  order: 2;
}
#slider p{
  position: absolute;
  top: 350px;
  order: 1;
  width: 94%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: #aaa;
  font-size: 1.0rem;
  line-height: 1.2rem;
}
/* beforeで三角を表現 */
#slider p::before{
  content: '';
  position: absolute;
  left: 43%;
  top: -12px;
  display: block;
  width: 0;
  height: 0;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #aaa;
  border-left: 15px solid transparent;
}
#prev{
  left: -7px;}
#next{
  right: -7px;}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.slider-btn{
  position: absolute;
  top: 130px;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 25px 18px;
  text-decoration: none;
  font-size: 1.6rem;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  border-radius: 50%;
}
/* スライダー終わり */
/* トップページ */
.accordion{
  display: block;
  width: 100%;
  height: 396px;
  overflow: scroll;
  font-size: 1.4rem;
  line-height: 2rem;
  background-color: #fff;
}
.accordion__switch{
  padding: 8.72px 40px 8.72px 10px;
  position: relative;
  color: #fff;
  font-weight: bold;
}
.accordion__switch--hokkaido{
  background-color: #7f7eda;
}
.accordion__switch--tohoku{
  background-color: #759ef4;
}
.accordion__switch--kanto{
  background-color: #7ecfea;
}
.accordion__switch--chubu{
  background-color: #7cdc92;
}
.accordion__switch--kinki{
  background-color: #ffe966;
}
.accordion__switch--chugoku{
  background-color: #ffcc66;
}
.accordion__switch--shikoku{
  background-color: #fb9466;
}
.accordion__switch--kyushu{
  background-color: #ff9999;
}
.accordion__container{
  font-size: 1.0rem;
  line-height: 1.4rem;
}
.accordion__container--hokkaido{
  background-color: rgba(127,126,218,0.8);
}
.accordion__container--tohoku{
  background-color: rgba(117,158,244,0.8);
}
.accordion__container--kanto{
  background-color: rgba(126,207,234,0.8);
}
.accordion__container--chubu{
  background-color: rgba(124,220,146,0.8);
}
.accordion__container--kinki{
  background-color: rgba(255,233,102,0.8);
}
.accordion__container--chugoku{
  background-color: rgba(255,204,102,0.8);
}
.accordion__container--shikoku{
  background-color: rgba(251,148,102,0.8);
}
.accordion__container--kyushu{
  background-color: rgba(255,153,153,0.8);
}
.accordion__container a{
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
.accordion__container--tohoku a:nth-child(2n){
  background-color: rgba(117,158,244,0.6);
}
.accordion__container--kanto a:nth-child(2n){
  background-color: rgba(126,207,234,0.6);
}
.accordion__container--chubu a:nth-child(2n){
  background-color: rgba(124,220,146,0.6);
}
.accordion__container--kinki a:nth-child(2n){
  background-color: rgba(255,233,102,0.6);
}
.accordion__container--chugoku a:nth-child(2n){
  background-color: rgba(255,204,102,0.6);
}
.accordion__container--shikoku a:nth-child(2n){
  background-color: rgba(251,148,102,0.6);
}
.accordion__container--kyushu a:nth-child(2n){
  background-color: rgba(255,153,153,0.6);
}
.accordion__container a:first-child{
  padding-top: 10px;
}
.accordion__container a:last-child{
  padding-bottom: 10px;
}
.accordion__container--none{
  display: none;
}
  /* trophy.html */
  .rate {
    background-color: #aaa;
    margin: 15px 2px 0px 150px; }
    .rate--param {
      color: #fff;
      display: inline-block;
      text-align: right;
      margin: 8px 0px 8px 5px;
      font-size: 32px;
      font-weight: lighter; }
    .rate--comp {
      color: #fff;
      display: inline-block;
      text-align: right;
      margin: 3px 3px; }

  .inner {
    height: 100%;
    margin: 10px;
   }

  .trophy {
    position: relative;
    float: left;
    width: 90px;
    margin: 10px 11px 0px 17.34px;}
    .trophy__img {
      width: 80px; }
    .trophy__name {
      font-size: 0.8rem;
      text-align: center;
      line-height: 1.4rem; }
  .circle{
    position: absolute;
    top: -33px;
    left: -33px;
    width: 140px;
    height: 140px;
  }

  /* login.html & registration.html & infochange.html */
  .title {
    text-align: center;
    padding: 20px;
    font-size: 32px; }

  .form {
    margin: auto;
    padding: 10px;
    margin: 42% 12%; }
    .form__enclosure {
      text-align: center;
      margin: 0px auto; }
    .form__text {
      width: 240px;
      padding: 15px;
      outline: none;
      display: block;
      margin: 0px 0px 10px 0px;
      border-radius: 4px; }
    .form__checkbox{
      margin: 16px 0;
      font-size: 0.8rem;
      line-height: 1.0rem;
      text-align: center;
    }
    .form__link{
      display: block;
      margin: 20px;
      font-size: 0.8rem;
      line-height: 1.0rem;
      text-align: center;
    }
    .form__button {
      width: 150px;
      height: 50px;
      position: relative;
      display: inline-block;
      padding: 0.25em 0.5em;
      margin: 3px;
      text-decoration: none;
      color: #fff;
      background: #00aeb4;
      border-radius: 4px;
      font-weight: bold;
      font-size: 90%; }
      .form__button:active {
        border-bottom: solid 2px #f0f8ff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }

  /* unsubscribe.html */
  .discription {
    text-align: center;
    font-size: 16px; }

  /* unsubscribecheck.html */
  .cent {
    text-align: center; }
    .cent__gotop {
      width: 150px;
      height: 50px;
      position: relative;
      display: inline-block;
      padding: 0.25em 0.5em;
      margin: 3px;
      text-decoration: none;
      color: #fff;
      background: #00bfff;
      border-bottom: solid 2px #008b8b;
      border-radius: 4px;
      box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
      font-weight: 500;
      font-size: 90%; }
      .cent__gotop:active {
        border-bottom: solid 2px #f0f8ff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3); }

/*# sourceMappingURL=style.css.map */
